.animated:hover {
    animation-duration: 3s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
   }
 
   body{
     font-family: 'Charm', cursive;https://github.com/dani4983/e-commerce/blob/gh-pages/html/index5.html
   }
 
   a{
     color: black;
   }
 
   header {
     background: url("../img/pizza-fondo.jpg");
     background-position: center center;
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-size: cover;
     height: 100vh;
 }
 
 #mila {
   background: url("../img/sandwich-milanesa2.jpg");
   background-position: center center;
   background-repeat: no-repeat;
   
   background-size: cover;
   height: 100vh;
 }
 
 #mila {
   
   color: gold;
 }
 
 #mila h2 {
     font-size: 120px;
 }
 
 #papas {
   background: url("../img/papas-fritas.jpg");
   background-position: center center;
   background-repeat: no-repeat;
   
   background-size: cover;
   height: 100vh;
 }
 
 #papas {
  
   color: crimson;
 }
 #papas h2 {
   font-size: 120px;
 }
 
 #patys{
   background: url("../img/hamburguesa.jpg");
   background-position: center center;
   background-repeat: no-repeat;
   
   background-size: cover;
   height: 100vh;
 }
 
 #patys {
   
   color: blue;
 }
 #patys h2 {
   font-size: 120px;
 }
 
 @media screen and (max-width: 768px){
   header {
    height: 200vh;
   }
   #mila h2 {
     font-size: 90px;
   }
   #papas h2 {
     font-size: 90px;
   }
   #patys h2 {
     font-size: 90px;
   }
 }
 
 @media screen and (max-width: 576px){
   header {
     height: 400vh;
 }
   #mila h2 {
     font-size: 40px;
   }
   #papas h2 {
     font-size: 40px;
   }
   #patys h2 {
     font-size: 40px;
   }
 }

 
 

